src/services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EventService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:3000/wsdl?wsdl" targetNamespace="http://localhost:3000/wsdl?wsdl">
  <!-- TYPES: definition of the data types that are used in the web service -->
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:3000/wsdl?wsdl">
      <!-- addEvent -->
      <s:element name="AddEventRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <!-- listEvent -->
      <s:element name="ListEventsRequest">
        <s:complexType>
          <s:sequence></s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Event">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="event" type="tns:Event" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <message name="AddEventSoapIn">
    <part name="body" element="tns:AddEventRequest" />
  </message>
  <message name="AddEventSoapOut">
    <part name="result" element="tns:AddEventResponse" />
  </message>
  <message name="ListEventsSoapIn">
    <part name="body" element="tns:ListEventsRequest" />
  </message>
  <message name="ListEventsSoapOut">
    <part name="result" element="tns:ListEventsResponse" />
  </message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <portType name="EventPort">
    <operation name="addEvent">
      <input message="tns:AddEventSoapIn" />
      <output message="tns:AddEventSoapOut" />
    </operation>
    <operation name="listEvents">
      <input message="tns:ListEventsSoapIn" />
      <output message="tns:ListEventsSoapOut" />
    </operation>
  </portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <binding name="EventBinding" type="tns:EventPort">
    <binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addEvent">
      <soap:operation soapAction="addEvent" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listEvents">
      <soap:operation soapAction="listEvents" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <!-- SERVICE:  -->
  <service name="EventService">
    <documentation>WSDL File for EventService</documentation>
    <port binding="tns:EventBinding" name="EventPort">
      <soap:address location="http://localhost:3000/wsdl" />
    </port>
  </service>
</definitions>